.left-text {
  position: absolute;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
textarea {
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  resize: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  margin-top: 8px;
  padding: 0;
  border: none;
  color: inherit;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover,
button:focus {
  background: #6c8cff;
}
